* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: darkslategray;
}

body {
  background: steelblue;
  max-width: auto;
  padding: 1rem;
  margin: 0 auto;
}

.header {
  color: darkslategray;
  margin: 0 auto;
}

#root {
  background-color: aliceblue;
  max-width: fit-content;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 0.5em;
}

.btn {
  background: rgb(220,240,254);
  border: 1px solid darkslategray;
  color: darkslategray;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: hsl(200, 100%, 50%, 0.3);
}

@media (max-width: 1200px) {
  #root {
    padding: 1.5rem;
    width: -webkit-fill-available;
  }

  .btn {
    padding: 0.3em 0.75em;
  }
}

@media (max-width: 992px) {
  #root {
    padding: 1rem;
    margin: 4rem;
    width:max-content;
  }

  .btn {
    padding: 0.25em 0.5em;
  }
}

@media (max-width: 768px) {
  .add-todo-form {
    flex-direction: column;
  }

  .btn {
    padding: 0.25em 0.5em;
  }

  #root {
    padding: 0.5rem;
  }

  .input-todo {
    padding: 0.25em;
  }
}

@media (max-width: 576px) {
  body {
    padding: 0.5rem;
    width:max-content;
  }

  .header {
    font-size: 1.5rem;
  }

  .btn {
    padding: 0.25em 0.5em;
  }

  .input-todo {
    padding: 0.25em;
  }
}
